h1 {
  color: #c27824;
  font-family: serif, garamound;
}

h2{
  color: #9e590a;
  font-family: serif, garamound;
}

h3{
  color: #764105;
  font-family: serif, garamound;
}

h4{
  color: #4d2a00;
  font-family: serif, garamound;
}